<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>



    <% @articles.each do |article| %>

    
    <% end %>


	<ul>
		<%    @articles.each 	do |article| %>
			<li>
				<%= link_to article.title, article_path(article) %>
				
			</li>

		<% end %>
	</ul>

  <% if logged_in? %>
	<%= link_to "create a new article", new_article_path, class: "new_article"  %> 

  
  <% end %>

